@media (max-width:1170px) {

    /* general css  */
    .section-subtitle {
        max-width: 60%;
    }

    /* 01 nav css  */

    /* banner section  */
    .banner_section .carousel-item{
        height: 90vh;
    }
    
}

@media (max-width:991px) {

    /* genera css  */
    .about .banner_section,
    .product .banner_section,
    .gallery .banner_section,
    .contact .banner_section {
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }

    .header .navbar {
        background-size: cover;
        padding: 2rem;
    }

    .header .navbar-nav {
        margin-top: 2rem;
    }

    .header .navbar-nav .nav-link {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }

    .header .header_right span {
        padding: 0.2rem 0.5rem;
    }
}

@media(max-width:767px){
    /* generel css  */
    body, html {
        font-size: 8px;
    }
    .section-subtitle{
        max-width: 80%;
    }

    /* banner section  */
    .banner_section{
        min-height: 70vh;
    }
    .banner_section .carousel-item{
        height: 70vh;
    }

    .whatsapp_main i{
        font-size: 6rem;
    }
    .whatsapp_main{
        left: 20px;
        bottom: 20px;
    }

    .call_main i{
        font-size: 6rem;
    }
    .call_main{
        left: 20px;
        bottom: 20px;
    }
    
}

@media(max-width:590px){
    /* generel css  */
    body, html {
        font-size: 7px;
    }
}